@import "variables";
@import "fuentes";
@import "each";
@import "mixins";
@import "keyframes";

/* Estilos generales */

a {
	color: #000;
}

audio {
	max-width: 225px;
}

body {
	background-color: #e0dddd;
	font-family: $font-family;
}

.columnas {
	column-count: 3;
	column-gap: 3em;
	column-rule: 1px solid #ccc;
	column-width: 350px;
}

.enlaceTexto {
	color: $colorCrimson;
	text-decoration: none;
	font-style: italic;
	&:hover {
		text-decoration: underline;
	}
}

footer {
	background: rgb(122,121,128);
	background: linear-gradient(90deg, rgba(122,121,128,1) 0%, rgba(219,213,213,1) 50%, rgba(128,123,123,1) 100%);
	min-height: 100px;
	.redesSociales {
		img {
			width: 30px;
			&:hover {
				transform: scale(1.1);
				transition: all 75ms;
			}
		}
	}
	.menuInferior {
		a {
			color: #000;
			font-size: 1.1rem;
			text-decoration: none;
			svg {
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}   
	}
}

h1 {
	font-weight: 400;
	text-decoration: none;
}

h3 {
	margin-bottom: 1rem;
	text-decoration: none;
}

header {
	background-color: #f4f4f2;
	.menuSuperior {
		a {
			font-size: 1.25rem;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.italic {
	font-style: italic;
}

.paginaActual {
	color: $colorCrimson;
}

.textoPrincipal {
	font-size: 1rem;
	line-height: 2em;
	margin-bottom: 0.5rem;
}

.tituloImportante {
	font-size: 1.25rem;
	text-decoration: underline;
}

textarea {
	resize: none
}

@media only screen and (min-width: 576px) {

	audio {
		max-width: 500px;
	}

	header {
		.menuSuperior {
			min-height: 5vh;
			a {
				font-size: 1.1rem;
			}
		}
	}

	.tituloImportante {
		font-size: 1.375rem;
	}
}

@media only screen and (min-width: 768px) {

	audio {
		width: 400px;
	}

	header {
		.menuSuperior {
			a {
				font-size: 1.25rem;
			}
		}
	}

	footer {
		.redesSociales {
			img {
				width: 35px;
			}
		}
	}
}

@media only screen and (min-width: 992px) {

	audio {
		width: 500px;
	}

	header {
		.menuSuperior {
			min-height: 7.5vh;
			a {
				font-size: 1.5rem;
				transform: scale(1);
				transition: all ease-out 500ms;
				&:hover {
					transform: scale(0.9);
					text-decoration: underline;
				}
			}
		}
	}
	
	.tituloImportante {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1200px) {

	header {
		.menuSuperior {
			a {
				font-size: 1.625rem;
			}
		}
	}
}

/* Estilos específicos de index.html */

.contenidoIndex {
	.fotoIndex {
		position: relative;
		img {
			border-radius: 10px;
			transform: scale(1);
			transition: transform ease-in-out 300ms;
			width: 80%;
		}
		.tituloImagenIndex {
			color: #fff;
			font-size: 1.25rem;
			font-style: italic;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50% , -50%);
		}
	}
	.carruselIndex {
		max-width: 350px;
		#carruselFrases {
			.carousel-indicators {
				li {
					height: 2px;
					width: 20px;
				}
			}
			.carousel-inner{
				.tamañoCarrusel {
					img {
						border-radius: 10px;
					}
					.carousel-caption {
						position: absolute;
						left: 7.5%;
						right: 7.5%;
						h4,p {
						color: #fff;
						}
						h4 {
							font-size: 1.25em;
						}
					}
				}
			}
		}
		.carousel-zoom {
			.carousel-item > img {
				animation: zoom 40s forwards;
				width: 100%;
			}
		}
	}
}

#footerIndex {
	border-top: $colorCrimson 3px solid;
}

#headerIndex {
	border-bottom: $colorCrimson 3px solid;
}

#portadaIndex {
	@include portada(url('../media/header01-1920.jpg') , 20vh)
}

/* Media queries específicos del index */

@media only screen and (min-width: 576px) {

	.contenidoIndex {
		.fotoIndex {
			img {
				max-height: 275px;
				width: auto;
			}
			.tituloImagenIndex {
				font-size: 1.75rem;
			}
        }
		.carruselIndex {
			max-width: 550px;
			.textoCarrusel {
				font-size: 0.75rem;
				line-height: 1.75em;
				margin-bottom: 0.5rem;
			}
		}
    }
}

@media only screen and (min-width: 768px) {

	.contenidoIndex {
		.fotoIndex {
			img {
				max-height: 350px;
			}
			.tituloImagenIndex {
				font-size: 2rem;
			}
        }
		.carruselIndex {
			max-width: 700px;
			.textoCarrusel {
				font-size: 0.875rem;
				line-height: 1.75em;
			}
		}
    }
	#portadaIndex {
		height: 30vh;
	}
}

@media only screen and (min-width: 992px) {

	.contenidoIndex {
		.fotoIndex {
			&:hover img {
				transform: scale(1.025);
			}
			&:hover .tituloImagenIndex {
				color: $colorLime;
				text-decoration: none;
				transition: color ease-in-out 400ms;
			}
			.tituloImagenIndex {
				transition: color ease-in-out 400ms;
			}
			img {
				max-height: 450px;
			}
        }
		.carruselIndex {
			max-width: 900px;
			.textoCarrusel {
				font-size: 1rem;
				line-height: 2em;
			}
		}
    }
	#portadaIndex {
		height: 30vh;
	}
}

@media only screen and (min-width: 1200px) {

	.contenidoIndex {
        .fotoIndex {
			img {
				max-height: 300px;
			}
        }
    }
	#portadaIndex {
		height: 40vh;
	}
}

/* Estilos específicos de cuentos_escritos.html */

.cuentoUnoImg {
	@include cuento_escrito (url("../media/cuento01-650.jpg"))
}

.cuentoDosImg {
	@include cuento_escrito (url("../media/cuento02-650.jpg"))
}

.cuentoTresImg {
	@include cuento_escrito (url("../media/cuento03-650.jpg"))
}

.cuentoCuatroImg {
	@include cuento_escrito (url("../media/cuento04-650.jpg"))
}

.cuentoCincoImg {
	@include cuento_escrito (url("../media/cuento05-650.jpg"))
}

.cuentoSeisImg {
	@include cuento_escrito (url("../media/cuento06-650.jpg"))
}

.cuentoSieteImg {
	@include cuento_escrito (url("../media/cuento07-650.jpg"))
}

.cuentoOchoImg {
	@include cuento_escrito (url("../media/cuento08-650.jpg"))
}

.cuentoNueveImg {
	@include cuento_escrito (url("../media/cuento09-650.jpg"))
}

.cuentoDiezImg {
	@include cuento_escrito (url("../media/cuento10-650.jpg"))
}

.cuentoOnceImg {
	@include cuento_escrito (url("../media/cuento11-650.jpg"))
}

.cuentoDoceImg {
	@include cuento_escrito (url("../media/cuento12-650.jpg"))
}

.enlaceCuento {
	min-height: 15px;
	isolation: isolate;
	color: #fff;
	position: relative;
	&:focus {
		color: $colorLime;
		text-decoration: none;
	}
	&::after {
		content: "";
		background-color: #dbdddb;
		mix-blend-mode: multiply;
		position: absolute;
		inset: 0;
		z-index: -1;
	}
	.cuentoEscrito {
		padding: 0.5rem;
		span {
			font-size: 1.125rem;
		}
	}
}

#footerCuentosEscritos {
	border-top: #b5c700 3px solid;
}

#headerCuentosEscritos {
	border-bottom: #b5c700 3px solid;
}

#portadaCuentosEscritos {
	@include portada (url('../media/header02-1920.jpg') , 20vh)
}

/* Media queries específicos de cuentos_escritos */

@media only screen and (max-width: 575px) {
	.enlaceCuento {
		box-shadow: 2.5px 0 10px 0px
				    rgba(0 , 0 , 0 , 0.4);
		max-width: 400px;
		min-height: 60px;
		.cuentoEscrito {
			padding: 1rem;
			span {
				font-size: 1.125rem;
			}
		}
	}
}

@media only screen and (min-width: 576px) {
	.enlaceCuento {
		box-shadow: 2.5px 2.5px 10px 0px
				    rgba(0 , 0 , 0 , 0.4);
		margin-bottom: 0.5em;
		max-width: 310px;
		min-height: 40px;
		.cuentoEscrito {
			padding: 1rem;
			span {
				font-size: 1.25rem;
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	.enlaceCuento {
		max-width: 250px;
		min-height: 100px;
		.cuentoEscrito {
			span {
				font-size: 1.3rem;
			}
		}
	}

	#portadaCuentosEscritos {
		height: 30vh;
	}
}

@media only screen and (min-width: 992px) {

	.enlaceCuento {
		margin-bottom: 1em;
		max-width: 320px;
		min-height: 140px;
		transition: color ease-in-out 400ms;
		&:hover {
			color: $colorLime;
			text-decoration: none;
			transition: color ease-in-out 400ms;
		}
		.cuentoEscrito {
			span {
				font-size: 1.75rem;
			}
		}
	}

	#portadaCuentosEscritos {
		height: 30vh;
	}
}

@media only screen and (min-width: 1200px) {

	.enlaceCuento {
		max-width: 380px;
		min-height: 175px;
	}

	#portadaCuentosEscritos {
		height: 40vh;
	}
	
	.textoAside {
		aside {
			max-width: 300px;
			.tarjeta {
				background-color: gray;
				margin: 1em;
				position: relative;
				&:hover .tarjetaImagen {
					opacity: 0.3;
				}
				&:hover .tarjetaTexto {
					opacity: 1;
				}
				&::before , 
				&::after {
					content: '';
					position: absolute;
					bottom: 1.125em;
					left: 1.125em;
					right: 1.125em;
					top: 1.125em;
				}
				&::before {
					border-bottom: #fff 1px solid;
					border-top: #fff 1px solid;
					transform: scale(1,0);
					transition: transform ease-out 350ms;
				}
				&::after {
					border-left: #fff 1px solid;
					border-right: #fff 1px solid;
					transform: scale(1,0);
					transition: transform ease-out 350ms;
				}
				&:hover::before {
					transform: scale(1.1,1);
				}
	
				&:hover::after {
					transform: scale(1,1.1);
				}
				.tarjetaImagen {
					display: block;
					max-width: 100%;
					opacity: 1;
					transition: opacity ease-out 350ms;
				}
				.tarjetaTexto {
					color: #fff;
					opacity: 0;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50% , -50%);
					transition: opacity ease-out 350ms;
					width: 70%;
					.textoPrincipal {
						color: #fff;
						font-size: 1em;
						line-height: 1.5em;
						margin-bottom: 0.5rem;
					}
					.tituloImportante {
						color: #fff;
						font-size: 1.25em;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1450px) {

	.enlaceCuento {
		max-width: 450px;
	}
}

@media only screen and (min-width: 1700px) {

	.enlaceCuento {
		max-width: 550px;
	}
}

/* Estilos específicos de audiocuentos.html */

#acordeonAudiocuentos {
	.fondoButton {
		background-color: rgb(243, 242, 242);
		border-radius: 10px;
		button {
			span {
				color: #fff;
			}
		}
	}
}

#footerAudiocuentos {
	border-top: #d23200 3px solid;
}

#headerAudiocuentos {
	border-bottom: #d23200 3px solid;
}

.narradores {
	article {
		border-top: $colorBlue 2px solid;
		padding: 1.5em 0;
	}
	.narradoresInicial {
		&::before {
			content: open-quote;
			color: gray;
			font-size: 3em;
		}
	}
	.narradoresFinal {
		&::after {
			content: close-quote;
			color: gray;
			font-size: 3em;
		}
	}
	.fotoNarradores {
		border-radius: 20px;
	}
}

#portadaAudiocuentos {
	@include portada (url('../media/header03-1920.jpg') , 20vh)
}

.titulo {
	font-size: 1em;
	text-decoration: underline;
}

/* Media queries específicos de audiocuentos */

@media only screen and (min-width: 576px) {

	#acordeonAudiocuentos {
		.fondoButton {
			button {
				.titulo {
					font-size: 1.125em;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	#portadaAudiocuentos {
		height: 30vh;
	}
}

@media only screen and (min-width: 992px) {

	#portadaAudiocuentos {
		height: 30vh;
	}
}

@media only screen and (min-width: 1200px) {

	#acordeonAudiocuentos {
		.collapse {
			section {
				audio {
					min-width: 500px;
				}
			}
		}
	}

	.narradores {
		article {
			border-top: none;
			position: relative;
			&::before {
				content: '';
				background-color: $colorBlue;
				position: absolute;
				left: 0;
				top: 0;
				height: 2px;
				width: 0%;
				transition: all ease-in-out 450ms;
			}
		}
		&:hover article::before {
			width: 100%;
		}	
	}

	#portadaAudiocuentos {
		height: 40vh;
	}
}

/* Estilos específicos de sobre_mi.html */

#footerSobreMi {
	border-top: #112d4e 3px solid;
}

#headerSobreMi {
	border-bottom: #112d4e 3px solid;
}

#imagenSobreMi {
    img {
		border-radius: 10px;
        max-width: 200px;
    }
}

#portadaSobreMi {
	@include portada (url('../media/header04-1920.jpg') , 20vh)
}

/* Media queries específicos de sobre mí */

@media only screen and (min-width: 576px) {

	#imagenSobreMi {
		img {
			max-width: 250px;
		}
	}
}

@media only screen and (min-width: 768px) {

	#imagenSobreMi {
		img {
			max-width: 300px;
		}
	}
	#portadaSobreMi {
		height: 30vh;
	}
}

@media only screen and (min-width: 992px) {

	#imagenInfoPersonal {
        img {
            max-width: 350px;
        }
    }
	#portadaSobreMi {
		height: 30vh;
	}
}

@media only screen and (min-width: 1200px) {

	#portadaSobreMi {
		height: 40vh;
	}
}

/* Estilos específicos de contacto.html */

#contenedorContacto {
    .redesSociales {
        a {
            img {
                width: 30px;
				&:hover {
					transform: scale(1.1);
					transition: all 75ms;
				}
            }
        }
    }
}

#footerContacto {
	border-top: #b084fd 3px solid;
}

.form-control:focus {
    box-shadow: none;
    border-color: $colorCrimson;
}

#formulario {
	max-width: 275px;
}

#headerContacto {
	border-bottom: #b084fd 3px solid;
}

#portadaContacto {
	@include portada (url('../media/header05-1920.jpg') , 20vh)
}

/* Media queries específicos de contacto */

@media only screen and (min-width: 576px) {

	#formulario {
		max-width: 425px;
	}
}

@media only screen and (min-width: 768px) {

	#portadaContacto {
		height: 30vh;
	}
}

@media only screen and (min-width: 992px) {

	#portadaContacto {
		height: 30vh;
	}
}

@media only screen and (min-width: 1200px) {

	#portadaContacto {
		height: 40vh;
	}
}